* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-sans);
  color: var(--text-body);
  padding: 20px;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}

.footer-basique {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  text-align: center;
  padding: 20px 10px;
  background-color: #333;
  color: #fff;
  font-family: var(--font-sans);
  font-size: 0.9rem;
}

.footer-basique p {
  margin: 0;
}
