<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section>
        <h1>L'abeille Olivetaine</h1>

        <div>
          <p>
            Fondée en 2010 à Olivet, l'Abeille Olivetaine a pour vocation de
            promouvoir la connaissance de l'abeille et de son habitat, ainsi que
            le développement de l'apiculture à Olivet et dans ses environs.
          </p>

          <p>
            Ces objectifs sont atteints par différentes actions de
            communication, notamment auprès des jeunes à travers l'organisation
            de manifestations. L'association propose également des formations
            théoriques et pratiques, ainsi que des participations à la gestion
            de petits ruchers associatifs. <br />Nous conseillons et assistons
            les nouveaux apiculteurs en mettant à leur disposition du matériel,
            des reines et des essaims. Nous intervenons aussi pour la
            récupération d'essaims en ville, et nous menons des actions de
            sensibilisation auprès des collectivités, entreprises, associations
            et organismes divers.
          </p>
        </div>
      </section>
      <section>
        <h2>Le marquage des reines</h2>

        <p>
          Les apiculteurs utilisent une méthode reconnue internationalement pour
          marquer leurs reines une fois qu'elles sont fécondées.<br />
          Un code couleur permet de connaître l'année de naissance de l'abeille,
          ce code est cyclique et se répète tous les cinq ans.<br />
          Le dernier chiffre de l'année détermine la couleur correspondante. On
          peut ainsi identifier la couleur des reines pour l'année 2026 en
          suivant cette codification.
        </p>
        <table>
          <thead>
            <tr>
              <th>Années se terminant par</th>
              <th>Couleur utilisé</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1 et 6</th>
              <th>Blanc</th>
            </tr>
            <tr>
              <th>2 et 7</th>
              <th>Jaune</th>
            </tr>
            <tr>
              <th>3 et 8</th>
              <th>Rouge</th>
            </tr>
            <tr>
              <th>4 et 9</th>
              <th>Vert</th>
            </tr>
            <tr>
              <th>5 et 0</th>
              <th>Bleu</th>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>Déclaration de ruches & ventes</h2>
        <p>
          Si vous êtes en possession de ruches la déclaration de celle si est
          obligatoire.
        </p>
        <a
          href="https://agriculture-portail.6tzen.fr/default/requests/Cerfa13995/"
          >Déclarer mes ruches dès maintenant</a
        >
        <p>
          Tout apiculteur vendant son miel ou le donnant en-dehors de son cercle
          familial proche doit déclarer son activité et avoir un numéro de
          SIRET.
        </p>
        <a href="https://procedures.inpi.fr/?/">Obtenir mon numéro de SIRET</a>
      </section>
    </main>
    <footer class="footer-basique">
      <p>&copy; 2026 Abeille Olivetaine. Tous droits réservés.</p>
    </footer>
  </body>
</html>
