<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Actualités</title>
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/css/actualites.css">


</head>
<body>
<header class="site-header">
  <div class="header-brand">
    <div class="header-logo">⬡</div>

    <div class="header-title">
      <h1>L'Abeille Olivetaine</h1>
      <p>Association<br>D'apiculteurs</p>
    </div>
  </div>

  <button class="burger-button" id="burgerButton" aria-label="Ouvrir le menu">
    ☰
  </button>
</header>

<div class="menu-overlay" id="menuOverlay"></div>

<nav class="burger-menu" id="burgerMenu">
  <div class="menu-top">
    <div class="menu-logo">
      <div class="header-logo">⬡</div>

      <div class="header-title">
        <h1>L'Abeille Olivetaine</h1>
        <p>Association<br>d'apiculteurs</p>
      </div>
    </div>

    <button class="close-button" id="closeButton" aria-label="Fermer le menu">
      ×
    </button>
  </div>

  <div class="header_line"></div>

  <ul class="menu-links">
    <li><a class="active" href="accueil.html">Accueil</a></li>
    <li><a href="actualites.html">Actualités</a></li>
    <li><a href="photovideo.html">Photos & Vidéos</a></li>
    <li><a href="recettes.html">Recettes</a></li>
    <li><a href="formations.html">Formations</a></li>
    <li><a href="#">Connexion</a></li>
  </ul>
</nav>

<script src="../assets/script/menu.js"></script>
</body>
</html>
