<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/adesions.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
  </head>
  <body>
  <section class="header">
    <header class="site-header">
      <div class="header-brand">
        <div class="header-logo">⬡</div>
        <div class="header-title">
          <h1>L'Abeille Olivetaine</h1>
          <p>Association<br />D'apiculteurs</p>
        </div>
      </div>
      <button
              class="burger-button"
              id="burgerButton"
              aria-label="Ouvrir le menu"
      >
        ☰
      </button>

      <nav class="burger-menu" id="burgerMenu">
        <div class="menu-top">
          <div class="menu-logo">
            <div class="header-logo">⬡</div>
            <div class="header-title">
              <h1>L'Abeille Olivetaine</h1>
              <p>Association<br />d'apiculteurs</p>
            </div>
          </div>
          <button
                  class="close-button"
                  id="closeButton"
                  aria-label="Fermer le menu"
          >
            ×
          </button>
        </div>

        <div class="header_line"></div>

        <ul class="menu-links">
          <li><a href="accueil.html">Accueil</a></li>
          <li><a class="active" href="actualites.html">Actualités</a></li>
          <li><a href="photovideo.html">Photos & Vidéos</a></li>
          <li><a href="recettes.html">Recettes</a></li>
          <li><a href="formations.html">Formations</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
      </nav>
    </header>

    <div class="menu-overlay" id="menuOverlay"></div>
  </section>
    <main>
      <h1>Se connecter</h1>
      <form action="">
        <div class="form-example">
          <label for="name">Votre adresse email&nbsp;: </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Votre adresse email"
            required
          />
        </div>
        <div class="form-example">
          <label for="name"
            >Votre mot de passe L'Abeille Olivetaine&nbsp;:
          </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Votre mot de passe L'Abeille Olivetaine"
            required
          />
        </div>
        <div class="form-example">
          <input type="submit" value="Connexion" />
        </div>
      </form>
    </main>
    <footer class="footer-basique">
      <p>&copy; 2026 Abeille Olivetaine. Tous droits réservés.</p>
    </footer>
  <script src="../assets/script/menu.js"></script>
  </body>
</html>
