<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/adesions.css" />
  </head>
  <body>
    <main>
      <h1>Se connecter</h1>
      <form action="">
        <div class="form-example">
          <label for="name">Votre adresse email&nbsp;: </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Votre adresse email"
            required
          />
        </div>
        <div class="form-example">
          <label for="name"
            >Votre mot de passe L'Abeille Olivetaine&nbsp;:
          </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Votre mot de passe L'Abeille Olivetaine"
            required
          />
        </div>
        <div class="form-example">
          <input type="submit" value="Connexion" />
        </div>
      </form>
    </main>
    <footer class="footer-basique">
      <p>&copy; 2026 Abeille Olivetaine. Tous droits réservés.</p>
    </footer>
  </body>
</html>
