<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../assets/css/formation_pratique.css">
  <link rel="stylesheet" href="../assets/css/footer.css" />
  <title>Formation Pratique - Apiculture</title>
</head>

<body>
  <main class="container">
    <header class="hero-section">
      <div class="image-wrapper">
        <img src="../assets/img/formation_pratique.webp" alt="Apiculteur en plein travail">
        <div class="overlay-badge">Formation Pratique</div>
      </div>
      <div class="intro-text">
        <h1>Maîtrisez l'Art de l'Apiculture</h1>
        <p>Un parcours complet, de l'installation de la ruche à la récolte du miel.</p>
      </div>
    </header>

    <section class="grid-box">
      <div class="box-list-training">
        <span class="step-number">01</span>
        <h2>Installation et préparation du matériel</h2>
        <ul>
          <li>Choisir un emplacement et installer une ruche.</li>
          <li>Préparer une ruche, enrucher un essaim.</li>
          <li>Montage, filage, pose de cire gaufrée dans les cadres.</li>
        </ul>
      </div>

      <div class="box-list-training">
        <span class="step-number">02</span>
        <h2>Suivi du rucher, élevage et santé</h2>
        <ul>
          <li>Visite des ruches : observations, ouverture, santé, ...</li>
          <li>Prévention de l’essaimage.</li>
          <li>Récupération d’essaims.</li>
          <li>Division de ruches, production d’essaims.</li>
          <li>Production de reines, fécondation, introduction.</li>
          <li>Contrôle et traitements contre le varroa.</li>
          <li>Détection de maladies et traitements.</li>
        </ul>
      </div>

      <div class="box-list-training">
        <span class="step-number">03</span>
        <h2>Récolte et opérations d'exploitation</h2>
        <ul>
          <li>Pose de hausses.</li>
          <li>Récolte, pose de chasse abeilles, désoperculation, extraction, filtrage, mise en pots.</li>
          <li>Toutes opérations d’exploitation, …</li>
        </ul>
      </div>
    </section>
  </main>
</body>

</html>