<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/photovideo.css" />
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}" />

    <title>Photos&Vidéos</title>
  </head>
  <body>
    <div class="title">
      <p>GALERIE</p>
      <h3>Photos & Vidéos</h3>
    </div>

    <div class="filtres">
      <button class="btn-filtre actif" data-filter="tous">Tous</button>
      <button class="btn-filtre" data-filter="photo">Photos</button>
      <button class="btn-filtre" data-filter="video">Vidéos</button>
    </div>

    <div class="galerie-ruche">
      <!-- Ligne 1 : 2 photos -->
      <div class="ligne-hexa">
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=1.jpg" alt="1" />
        </div>
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=2.jpg" alt="2" />
        </div>
      </div>

      <!-- Ligne 2 : 3 https://picsum.photos/300/300?random=s -->
      <div class="ligne-hexa">
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=3.jpg" alt="3" />
        </div>
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=4.jpg" alt="4" />
        </div>
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=5.jpg" alt="5" />
        </div>
      </div>

      <!-- Ligne 3 : 2 https://picsum.photos/300/300?random=s -->
      <div class="ligne-hexa">
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=6.jpg" alt="6" />
        </div>
        <div class="hexa">
          <img src="https://picsum.photos/300/300?random=7.jpg" alt="7" />
        </div>
      </div>
    </div>
    <footer class="footer-basique">
      <p>&copy; 2026 Abeille Olivetaine. Tous droits réservés.</p>
    </footer>
  </body>
</html>
