<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/photovideo.css" />
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}" />
    <link rel="stylesheet" href="../assets/css/footer.css" />

    <title>Photos & Vidéos</title>
  </head>
  <body>
    <div class="title">
      <p>GALERIE</p>
      <h3>Photos & Vidéos</h3>
    </div>

    <div class="filtres">
      <button class="btn-filtre actif" data-filter="tous">Tous</button>
      <button class="btn-filtre" data-filter="photo">Photos</button>
      <button class="btn-filtre" data-filter="video">Vidéos</button>
    </div>

    <div class="galerie-grid">
      <div class="galerie-item tall">
        <img
          src="https://picsum.photos/600/800?random=1"
          alt="Abeilles sur cadre"
        />
      </div>

      <div class="galerie-item">
        <img src="https://picsum.photos/400/400?random=2" alt="Cadre miel" />
      </div>
      <div class="galerie-item">
        <img src="https://picsum.photos/400/400?random=3" alt="Apiculteur" />
      </div>

      <div class="galerie-item wide">
        <img
          src="https://picsum.photos/800/400?random=4"
          alt="Formation apiculture"
        />
      </div>

      <div class="galerie-item">
        <img src="https://picsum.photos/400/400?random=5" alt="Abeilles zoom" />
      </div>
      <div class="galerie-item">
        <img src="https://picsum.photos/400/400?random=6" alt="Cadre en main" />
      </div>
      <div class="galerie-item">
        <img src="https://picsum.photos/400/400?random=7" alt="Ruches" />
      </div>
      <div class="galerie-item">
        <img
          src="https://picsum.photos/400/400?random=8"
          alt="Fleur et abeille"
        />
      </div>
    </div>
    <footer class="footer-basique">
      <p>&copy; 2026 Abeille Olivetaine. Tous droits réservés.</p>
    </footer>
  </body>
</html>
